body {
  padding: 0;
  margin: 0;
  background-color: rgb(45, 49, 66);
  display: flex;
  justify-content: center;
  overflow: hidden;

}

.container{
  transition: 0.3s ease;
  &.sombre{
    opacity: 0.5;
  }
  &::before{
    content: "5/5 WAHOU!";
    position: absolute;
    width: 20vw;
    height: 20vw;
    background-color: rgba(0, 0, 255, 0);
    opacity: 0;
    top: 15vw;
    font-family: 'Source Code Pro', monospace;
    font-size: 30px;
    margin: 20px 0 0 10px;
  }

  &::after{
    content: "";
    position: relative;
    width: 13vw;
    height: 13vw;
    background-color: white;
    transform: scale(1.2);
    border-radius: 50%;
    transition:  0.3s ease;
    margin: 0 2vw 0 2vw;
    display: flex;
    z-index: -1;
    opacity: 0;
  }
}

.smileys {
  display: flex;
  width: 100vw;
  background-color: rgba(140, 118, 116, 0);
  height: 50vw;
  flex-direction: row;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  & .container#prem::before{
    content: "1/5 OIN!";

  }
  & .container#deu::before{
    content: "2/5 BOF";

  }
  & .container#trois::before{
    content: "3/5 PEU MIEUX FAIRE";
  }
  & .container#quatre::before{
    content: "4/5 OUAIS!";
  }


}
.smileys .tête {
  position: absolute;
  width: 13vw;
  height: 13vw;
  border-radius: 50%;
  transition:  0.3s ease;
  margin: 0 2vw 0 2vw;
  display: flex;

  &:hover .visage{
    transform: translateX(-5.53%);
  }
  & .visage{
    width: 10vw;
    height: 4vw;
    position: absolute;
    right: 6%;
    display: flex;
    justify-content: center;
    transition: transform 300ms;

    & .yeux{
      animation: 10s yeux_ferment ease infinite;

      width: 2vw;
      height: 2vw;
      background-color: rgb(45, 49, 66);
      border-radius:50% ;
      position: absolute;
      left: 0;
    }
    & .yeux_deux{
      animation: 10s yeux_ferment ease infinite;

      right: 0;
      width: 2vw;
      height: 2vw;
      background-color: rgb(45, 49, 66);
      border-radius:50% ;
      position: absolute;
    }

  }

}
.container.cliqué{
  transform: scale(1.2);
  transform-origin: center;
  margin:  0 70px 0 70px;
  &::before{
    top: 15vw;
    opacity: 1;
  }
  & .visage{
    transform: translateX(-0.7vw);
  }
  &::after{
    opacity: 1;
  }
  &#A{
    margin: 0 140px 0 28px ;
  }
  &#E{
    margin: 0 28px 0 140px ;
  }
  &:hover .visage{
    transform: translateX(-0.7vw);
  }

}

#A {
  background: radial-gradient(circle at 0% 50%, #ff492e, #ff7249);

  & .visage{
    top: 5.6vw;

  }
  & #boubhe_A{
    width: 2vw;
    height: 1vw;
    border: 1vw solid rgb(45, 49, 66);
    position: absolute;
    border-bottom: transparent;
    border-top-left-radius: 100px; // 4*height
    border-top-right-radius: 100px; // 4*height
    bottom: 30%;
  }
  & #sourcils{
    width: 3vw;
    height: 1vw;
    position: absolute;
    background-color: rgb(45, 49, 66);
    top: -30%;
    transform:rotateZ(15deg) ;
    left: -3%;
  }
  & #sourcils_deux{
    width: 3vw;
    height: 1vw;
    position: absolute;
    background-color: rgb(45, 49, 66);
    top: -30%;
    transform:rotateZ(345deg) ;
    right: -3%;
  }
}
#B {
  background: radial-gradient(circle at 0% 50%, #fe622d, #fe9e47);
  & .visage{
    top: 4.8vw ;
    & #boubhe_B{
      width: 2vw;
      height: 1vw;
      border: 1vw solid rgb(45, 49, 66);
      position: absolute;
      border-bottom: transparent;
      border-top-left-radius: 100px; // 4*height
      border-top-right-radius: 100px; // 4*height
      bottom: 30%;
    }
    & :nth-child(1),:nth-child(2){
      animation-delay: 1s;

    }
  }
}
#C {
  background: radial-gradient(circle at 0% 50%, #ffad48, #ffcc73);
  & .visage{
    top: 4vw;
    & #boubhe_C{
      width: 4vw;
      height: 1vw;
      background-color: rgb(45, 49, 66);
      position: absolute;

      bottom: 30%;
    }
    & :nth-child(1),:nth-child(2){
      animation-delay: 2s;

    }
  }

}
#D {
  background: radial-gradient(circle at 0% 50%, #ffc32a, #ffdd48);
  & .visage{
    top: 3.2vw;
    & #boubhe_D{
      width: 2vw;
      height: 1vw;
      border: 1vw solid rgb(45, 49, 66);
      position: absolute;
      border-bottom: transparent;
      border-top-left-radius: 100px; // 4*height
      border-top-right-radius: 100px; // 4*height
      bottom: 10%;
      transform: rotateZ(180deg);
    }
    & :nth-child(1),:nth-child(2){
      animation-delay: 3s;

    }
  }

};
#E {
  background: radial-gradient(circle at 0% 50%, #fde535, #fff85d);
  & .visage{
    top: 2.4vw;
    & #boubhe_E{
      width: 2vw;
      height: 1vw;
      border: 1vw solid rgb(45, 49, 66);
      background-color: rgb(45, 49, 66);
      position: absolute;
      border-bottom: transparent;
      border-top-left-radius: 100px; // 4*height
      border-top-right-radius: 100px; // 4*height
      bottom: 10%;
      transform: rotateZ(180deg);

    }

    & :nth-child(1),:nth-child(2){
      animation-delay: 4s;

    }
  }

};
/*animation yeux*/
@keyframes yeux_ferment {
  0% {
    transform: scaleY(1);
  }
  1.5% {
    transform: scaleY(0);
  }
  3% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1);
  }
}






/*# sourceMappingURL=style.css.map */
